<mat-toolbar class="mat-elevation-z8 d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <button mat-icon-button *ngIf="isUserLoggedIn" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <!-- <img *ngIf="sidenav.opened" class="w-10" src="https://s3.amazonaws.com/jhj.shop/img/icono.png" /> -->
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <button mat-button class="menu-button mx-1" routerLink="/inicio">
      <span>Supermercado Antojitos</span>
    </button>
  </div>
  <div class="d-flex" *ngIf="!isUserLoggedIn">
    <button mat-button class="menu-button mx-1" routerLink="/entrar">
      <span>Entrar</span>
    </button>
    <button mat-button class="menu-button" (click)="registratUser($event)">
      <span>Registrar</span>
    </button>
  </div>
  <div class="d-flex" *ngIf="isUserLoggedIn">
    <button mat-button class="menu-button mx-1" (click)="logout()">
      <span>Salir</span>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="https://s3.amazonaws.com/jhj.shop/img/user.jpg" />

    <h4 class="name">{{user?.nombre}} {{user?.apellido}}</h4>
    <p class="designation">{{user?.rol}}</p>

    <button mat-button class="menu-button" routerLink="/inicio">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>

    <mat-divider></mat-divider>

    <span>Vender</span>

    <button mat-button class="menu-button" routerLink="/vender">
      <mat-icon>point_of_sale</mat-icon>
      <span>Realizar venta</span>
    </button>

    <mat-divider></mat-divider>

    <span>Administrador</span>

    <button mat-button class="menu-button" routerLink="/usuarios">
      <mat-icon>person</mat-icon>
      <span>Vendedores</span>
    </button>

    <button mat-button class="menu-button" routerLink="/clientes">
      <mat-icon>group</mat-icon>
      <span>Clientes</span>
    </button>

    <button mat-button class="menu-button" routerLink="/productos">
      <mat-icon>shopping_cart</mat-icon>
      <span>Productos</span>
    </button>

    <button mat-button class="menu-button" routerLink="/ventas">
      <mat-icon>attach_money</mat-icon>
      <span>Ventas</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>