<div class="container-fluid mt-5">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h2 class="titulo">Listado de ventas</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Fecha Venta</th>
                                        <th>Valor Total venta</th>
                                        <th>Cliente</th>
                                        <th>Vendedor</th>
                                        <!-- <th>Editar</th>
                                        <th>Eliminar</th> -->
                                        <th>Ver productos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let venta of listVentas">
                                        <td>{{venta.id}}</td>
                                        <td>{{venta.fecha_v}}</td>
                                        <td>{{venta.total_v}}</td>
                                        <td>{{venta.clienteId}}</td>
                                        <td>{{venta.usuarioId}}</td>
                                        <!-- <td>
                                            <button mat-icon-button color="primary" matTooltip="Editar venta"
                                                (click)="editarVenta(venta)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-icon-button color="warn" matTooltip="Eliminar venta"
                                                (click)="eliminarVenta(venta.id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td> -->
                                        <td>
                                            <button mat-icon-button color="primary" matTooltip="Ver Productos"
                                                (click)="verProductos(venta)">
                                                <mat-icon>pageview</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-success btn-lg" (click)="agregarVenta()">
            Agregar
        </button>
    </div> -->
</div>